
<div class="modal" id="settings-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Field Settings</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-4">
                        <label>Needle Spacing</label>
                    </div>
                    <div class="col-6">
                        <div class="slider" id="needle-spacing-slider"></div>
                    </div>
                    <div class="col-2">
                        <label class="slider-value" id="needle-spacing-value">35</label>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-4">
                        <label>Needle Size</label>
                    </div>
                    <div class="col-6">
                        <div class="slider" id="needle-size-slider"></div>
                    </div>
                    <div class="col-2">
                        <label class="slider-value" id="needle-size-value">25x7</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->